<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Cart</title>
    <scrip src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <h1>Shopping Cart</h1>
  
<h3>Accessories</h3>
<p>Price : $50</p>
<p>Quantity :1</p>

<br>

<h3>Birthday Cake</h3>
<p>Price : $20</p>
<p>Quantity :2</p>
    
  <form action="/checkout" method="post">
    <input type="submit" value="Proceed to checkout">
  </form>
  </body>
</html>
